
@{
    ViewBag.Title = "AssignToUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Assign Assets to User</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a class="dropdown-item" href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <h6 class="bg-green text-center">@ViewBag.Message</h6>
                        <h6 class="bg-red text-center">@ViewBag.Error</h6>
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post">

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="deparment-name">
                                    Entity <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select class="form-control" onchange="showType(this.value);" name="entity">
                                        <option></option>
                                        <option value="1">Hardware</option>
                                        <option value="2">Software</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="room-name">
                                    Assignment Type <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select class="form-control" id="assignmentype" name="assignmentype">
                                        <option></option>
                                        <option>Visio</option>
                                        <option>Office 2007</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Quantity</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input id="qty" class="form-control" type="number" name="qty">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="building-name" class="col-form-label col-md-3 col-sm-3 label-align">Date of Assign</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input id="dassigned" class="form-control" type="date" name="dassigned">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="building-name" class="col-form-label col-md-3 col-sm-3 label-align">Date of Return</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input id="dreturn" class="form-control" type="date" name="dreturn">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="building-name" class="col-form-label col-md-3 col-sm-3 label-align">Assign to User/Department</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select class="form-control" name="assignedto">
                                        <option></option>
                                        @if (ViewBag.SystemUsers != null)
                                        {
                                            foreach (var user in ViewBag.SystemUsers)
                                            {
                                    <option value="@user.Uid">@user.Uname ( @user.Lname )</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script language="javascript">
    function showType(id)
    {
        let dropdown = $('#assignmentype');
        dropdown.empty();
        dropdown.append('<option selected="true" disabled>Choose Assignment Type</option>');
        $.ajax({
            type: 'GET',
            url: '/Assign/GetAssignmentType',
            data: { entityid: id },
            success: function (data) {
                console.log(data);
                $.each(JSON.parse(data), function (key,entry)
                {
                    dropdown.append($('<option></option>').attr('value', entry.id).text(entry.name + ' ( ' + entry.vname+' )'));
                })
            },
            error: function(data) {
                console.log("Response ++++");
                console.log(data);
               }
        });
	};

    </script>

