
@{
    ViewBag.Title = "ViewAssignedItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Assigned <small> assets</small></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row" style="display: block;">
        <div class="col-md-12 col-sm-12  ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Assigned <small>hardware assets</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <button type="submit" class="btn btn-success" onclick="print();">Print Report</button>
                    <a class="btn btn-success pull-right" href="~/Assign/AssignToUser">Assign Assets</a>
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Hardware </th>
                                    <th class="column-title">Qty</th>
                                    <th class="column-title">Vendor</th>
                                    <th class="column-title">Category</th>
                                    <th class="column-title">Date Assigned </th>
                                    <th class="column-title">Date Expected</th>
                                    <th class="column-title">Assigned To</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (ViewBag.AssignedHardware != null)
                                {
                                    foreach (var item in ViewBag.AssignedHardware)
                                    {
                                        <tr class="even pointer">
                                            <td class=" ">@item.hw_name</td>
                                            <td class=" ">@item.qty</td>
                                            <td class=" ">@item.thumb</td>
                                            <td class=" ">@item.cname,@item.ctype</td>
                                            <td class=" ">@item.doa</td>
                                            <td class=" ">@item.doe</td>
                                            <td class=" ">@item.fname @item.lname</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row" style="display: block;">
        <div class="col-md-12 col-sm-12  ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Assigned <small>Software assets</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action" id="tabletoprint">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Software </th>
                                    <th class="column-title">Qty</th>
                                    <th class="column-title">Vendor</th>
                                    <th class="column-title">Category</th>
                                    <th class="column-title">Date Assigned </th>
                                    <th class="column-title">Date Expected</th>
                                    <th class="column-title">Assigned To</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (ViewBag.AssignedSoftware != null)
                                {
                                    foreach (var item in ViewBag.AssignedSoftware)
                                    {
                                        <tr class="even pointer">
                                            <td class=" ">@item.hw_name</td>
                                            <td class=" ">@item.qty</td>
                                            <td class=" ">@item.thumb</td>
                                            <td class=" ">@item.cname,@item.ctype</td>
                                            <td class=" ">@item.doa</td>
                                            <td class=" ">@item.doe</td>
                                            <td class=" ">@item.fname @item.lname</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script>
        //function print();
        $(document).ready(function () {
            $('#tabletoprint').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'print'
                ]
            });
        });
</script>

